<html>

<head>
  <title>SignJack</title>
</head>

<body>
  <p><h1>Jack you some signs!</h1></p>

  <p><h4>Know a sign? Add it now!</h4></p>
  <form action="/add" method="post">
    IP Addr: <input type="text" name="ip" placeholder="192.168.1.1"></input>
    <button type="submit" value="add">Add</button>
  </form>

  <p><h4>Don't know any? We'll find it for you!</h4></p>
  <form action="/scan" method="post">
    <button type="submit" value="scan" onclick="scanning();">Scan Devices</button>
  </form>

  <div id="loading" style="visibility:hidden;height:0px;width:0px;">
    <p>Scanning for Devices</p>
    <img src="static\loading.gif" alt="loading gif">
  </div>

  <div id="devices">
    {% if devices|length > 0 %}
    </br>
    <form action="/control" method="post">
      {% for d in devices %}
      <input type="radio" name="target" value="{{d[0]}}"><a href="http://{{d[0]}}" target="_blank">{{d[1]}}</a></br>
      {% endfor %}
      </br>
      <input type="submit" name="command" value="Reboot"/>
      <input type="submit" name="command" value="Hijack"/>
    </form>
    </br>
    <form action="/clear" method="post">
      <button type="submit" value="clear">Clear Device List</button>
    </form>
    {% endif %}
  </div>

  <script type="text/javascript">
    function scanning(){
      document.getElementById("devices").style.visibility = "hidden";
      document.getElementById("loading").style.visibility = "visible";
      document.getElementById("loading").style.height = "50px";
      document.getElementById("loading").style.width = "200px";
    }
  </script>

</body>
</html>
